<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="NameRPA"                value="DebugReplicator"/>
		<add key="VersionProject"         value="v0.0.1"/>
		<add key="ReCaptchaImagenes"      value="C:\dobot\bots\DebugReplicator\ReCaptcha"/>
		<add key="UrlWebservice"          value="https://172.102.180.45/BOTS_COMPONENTS/BOTS_LOGS?wsdl"/>
		<add key="PasswordCertificateWS"  value="tP58/DdMZ0qQqGKkhkUArw=="/>
		<add key="P12Certificate"         value="C:\dobot\bots\DebugReplicator\Certificados\ws.p12" />
		<add key="KeyEncryption"          value="b14ca6118a4e7573bbce2ea2315a1916" />
		<add key="DirectoryLogs"          value="C:\dobot\logs\DebugReplicator"/>
		<add key="TituloVentana"          value="Debug Replicator"/>
	</appSettings>
</configuration>